# name: phpunit
# on:
#   push:
#     branches: [ main ]
#   pull_request:
#     branches: [ main ]
# jobs:
#   build:
#     runs-on: ubuntu-latest
#     steps:
#       - uses: actions/checkout@v2
#
#       - name: Install dependencies
#         run: |
#             apt update
#             apt install -y php php-xml php-dom php-mbstring php-curl
#
#             # Enable php extensions
#             sudo sed -i 's/;extension=dom/extension=dom/' /etc/php/8.3/cli/php.ini
#             sudo sed -i 's/;extension=xml/extension=xml/' /etc/php/8.3/cli/php.ini
#             php -m | grep -E '(dom|xml)'
#
#             # Install composer
#             php -r "copy('https://getcomposer.org/installer', 'composer-setup.php');"
#             php -r "if (hash_file('sha384', 'composer-setup.php') === 'c8b085408188070d5f52bcfe4ecfbee5f727afa458b2573b8eaaf77b3419b0bf2768dc67c86944da1544f06fa544fd47') { echo 'Installer verified'.PHP_EOL; } else { echo 'Installer corrupt'.PHP_EOL; unlink('composer-setup.php'); exit(1); }"
#             php composer-setup.php
#             php -r "unlink('composer-setup.php');"
#             mv composer.phar /usr/local/bin/composer
#
#             # Install symfony cli
#             wget https://get.symfony.com/cli/installer -O - | bash
#             mv /root/.symfony5/bin/symfony /usr/local/bin/symfony
#
#             # Install project requirements
#             symfony composer install


name: phpunit
on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2

      - name: Setup PHP with extensions
        uses: shivammathur/setup-php@v2
        with:
          php-version: '8.5'
          extensions: dom, xml, mbstring, curl, intl
          coverage: none

      - name: Install Composer dependencies
        run: composer install --prefer-dist --no-progress --no-interaction

      - name: Bootstrap application
        run: sh bootstrap.sh

      - name: Run PHPUnit tests
        run: vendor/bin/phpunit
